{% extends 'home/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="bg">
{% block content %}

    <body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/peakpx.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/barnowl3__880-e149848454255631bc.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/peakpx.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/barnowl3__880-e149848454255631bc.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in" style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/sova-slide1.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>


    <!-- Preloader section -->

    <div class="preloader">
        <div class="sk-spinner sk-spinner-pulse"></div>
    </div>


    <!-- Home section -->

    <section id="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s"><b>УЧИЛИЩЕ ЗА ПСИХОЛОГИЯ</b></h1>
                    <p class="wow fadeInUp" data-wow-delay="0.9s">
                        <a rel="nofollow" href="http://www.sovapsychologist.com"><b>Психологичен Център СОВА</b></a><br>
                        с радост обявява началото на „учебната година“!<br>
                        Откриваме записването за първото в България „Училище за Психология“!
                        Училище за Психология е създадено от Психологичен Център СОВА за тези,
                        които искат да знаят повече за психологията, искат да знаят как работи психиката на човек,
                        какво и как формира нашата личност, интересуват се от взаимоотношения между хората и различните
                        модели на поведение и неговото формиране.
                        И още много и много интересни и любопитни факти свързани с нашето функциониране като хора и
                        личности.
                    </p>
                    <a href="{% url 'read_web_content' %}" class="smoothScroll btn btn-success btn-lg wow fadeInUp"
                       data-wow-delay="1.2s"><span>Прочети още</span></a>
                </div>

            </div>
        </div>
    </section>


    <!-- About section -->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title text-center">
                        <h9><b>ВОДЕЩИ НА „УЧИЛИЩЕ ЗА ПСИХОЛОГИЯ“:</b></h9>
                        <p class="description"><b>Това е нашият екип, който ще Ви обучи!</b></p>
                    </div>
                </div>

                <!-- team carousel -->
                <div id="team-carousel" class="owl-carousel">

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_s_s' %}">
                                    <img src="{% static 'images/team/svetlana.png' %}" class="img-responsive img-circle"
                                         alt="Svetlana"></a>
                            </div>
                            <h2 class="heading">Сотирова, Светлана</h2>
                            <p class="description">Терапевт, семеен консултант.</p>

                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_e_s' %}">
                                    <img src="{% static 'images/team/emilia.png' %}" class="img-responsive img-circle"
                                         alt="Emilia"></a>
                            </div>
                            <h2 class="heading">Сотирова, Емилия</h2>
                            <p class="description">Психолог, фамилен терапевт, преподавател по психодрама.</p>
                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_r_s' %}"><img
                                        src="{% static 'images/team/rositza.png' %}" class="img-responsive img-circle"
                                        alt="Rositza"></a>
                            </div>
                            <h2 class="heading">Славова, Росица</h2>
                            <p class="description">Терапевтичен, семеен консултант.</p>
                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_m_r' %}"><img
                                        src="{% static 'images/team/monika.png' %}" class="img-responsive img-circle"
                                        alt="Monika"></a>
                            </div>
                            <h2 class="heading">Ройдева, Моника</h2>
                            <p class="description">Психолог магистър, ръководител на проекти.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <h9><b>Нашите ученици казват:</b></h9>
                        <p><b>
                            <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0"
                                 style="width: 337px;" role="group" aria-label="1 / 5">
                                <div class="elementor-testimonial">
                                    <div class="elementor-testimonial__content">
                                        <div class="elementor-testimonial__text">
                                            Благодаря, че ни направихте част от света на совите. Вие сте новатори в
                                            това, което правите и съм горда, че бях част от първото училище по
                                            психология!”
                                        </div>
                                    </div>
                                    <div class="elementor-testimonial__footer">
                                        <cite class="elementor-testimonial__cite"><span
                                                class="elementor-testimonial__name">М.Б </span><span
                                                class="elementor-testimonial__title">Ученичка в клас 1</span></cite>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="swiper-slide" data-swiper-slide-index="1" style="width: 337px;" role="group"
                                 aria-label="2 / 5">
                                <div class="elementor-testimonial">
                                    <div class="elementor-testimonial__content">
                                        <div class="elementor-testimonial__text">
                                            "Много достъпно представена информация, смляна за хора непрофесионалисти
                                            като мен. Обяснена с множество примери от богатия им практически опит като
                                            специалисти!”
                                        </div>
                                    </div>
                                    <div class="elementor-testimonial__footer">
                                        <cite class="elementor-testimonial__cite"><span
                                                class="elementor-testimonial__name">А.И </span><span
                                                class="elementor-testimonial__title">Ученичка в клас 2</span></cite>
                                    </div>
                                </div>
                            </div>
                        </b></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
                    <img src="{% static 'images/class.jpg' %}" class="img-responsive img-circle" alt="About">
                </div>
                <div class="clearfix"></div>


            </div>
        </div>
    </section>

    <!-- Gallery section -->

    <section id="gallery">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title">
                        <h9><b>КАКВО Е „УЧИЛИЩЕ ЗА ПСИХОЛОГИЯ“?</b></h9>
                        <p><b>Курсът събира в себе си 12 модула, подбрани от различните направления в психологията, за
                            да може обучаващите се да добият най-широка представа за влиянието и приложението на
                            психологията в ежедневието ни.</b></p>
                    </div>
                </div>

                <ul class="grid cs-style-4">
                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="{% static 'pictures/prospectus/level_1.png' %}" alt="image 1"></div>
                            <figcaption>
                                <h1>НИВО 1</h1>
                                <small>
                                    <p1>ЦЕНА: - BGN 370</p1>
                                </small>
                                <small>КАКВИ СА МОДУЛИТЕ В НИВО I УЧИЛИЩЕ ПО ПСИХОЛОГИЯ?</small>
                                <a href="{% url 'school_program_level_1' %}#level_1"
                                   type="button" id="level_1">Прочети още:</a>
                                {#                                <input type="button" id="level_1" value="{{ school_program_level_1 }}">#}
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="{% static 'pictures/prospectus/level_2.png' %}" alt="image 2"></div>
                            <figcaption>
                                <h1>НИВО 2</h1>
                                <small>
                                    <p1>ЦЕНА: - BGN 420</p1>
                                </small>
                                <small>КАКВИ СА МОДУЛИТЕ В УЧИЛИЩЕТО ПО ПСИХОЛОГИЯ НИВО II?</small>
                                <a href="{% url 'school_program_level_2' %}#level_2"
                                   type="button" id="level_2">Прочети още:</a>
                                {#                                <input type="button" id="level_2" value="{{ school_program_level_2 }}">#}
                            </figcaption>
                        </figure>
                    </li>
                </ul>

            </div>
        </div>
    </section>


    <!-- Contact section -->

    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">

                    <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
                        <h1>Свържи се с нас!</h1>
                        <p>Училището по психология се намира в центъра на гр
                            <a rel="nofollow"
                               href="https://www.google.com/maps/place/%D0%9D%D0%9F%D0%9E+%D0%A0%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB-%D0%94%D0%B5%D1%82%D0%B5/@43.2026935,27.905832,20.35z/data=!4m15!1m8!3m7!1s0x40a4538cbe578aa1:0x227314e4f4ebbdff!2z0YPQuy4g4oCe0JDQu9C10LrRgdCw0L3QtNGK0YAg0JTRj9C60L7QstC40YfigJwgNDUsIDkwMDAg0JLQsNGA0L3QsCDQptC10L3RgtGK0YAsINCS0LDRgNC90LA!3b1!8m2!3d43.2029789!4d27.905946!16s%2Fg%2F11cskf2y28!3m5!1s0x40a4538cbc0fff5b:0x1546ac1a7888a19d!8m2!3d43.2025743!4d27.9060855!16s%2Fg%2F11fn6slz47?entry=ttu"
                               target="_blank"><b>Варна, ул.Александър Дякович 45</b></a></p>
                    </div>
                    <h1><p>Телефон: <b>+359895763555</b></p></h1>
                    <h1><p>E-mail: <b>office@sovapsychologist.com</b></p></h1>
                </div>
            </div>

        </div>

    </section>


    <!-- Footer section -->

    <footer>
        <div class="container">

            <div class="row">

                <div class="col-md-12 col-sm-12">

                    <ul class="social-icon">
                        <li><a href="https://www.facebook.com/S.O.V.A.psychologist" class="fa fa-facebook wow fadeInUp"
                               data-wow-delay="0.2s"></a></li>
                        <li><a href="https://twitter.com/sovapsycenter" class="fa fa-twitter wow fadeInUp"
                               data-wow-delay="0.4s"></a></li>
                        <li><a href="https://www.linkedin.com/company/sova-psychologist"
                               class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                        <li><a href="https://www.instagram.com/sova_psy/" class="fa fa-instagram wow fadeInUp"
                               data-wow-delay="0.8s"></a></li>
                        <li><a href="https://plus.google.com/+SovaPsychologist" class="fa fa-google-plus wow fadeInUp"
                               data-wow-delay="1.0s"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCd2dYVIA_CY_hoAyNkQ2rLg"
                               class="fa fa-youtube wow fadeInUp" data-wow-delay="1.2s"></a></li>
                        <li><a href="https://www.pinterest.com/sovapsy" class="fa fa-pinterest wow fadeInUp"
                               data-wow-delay="1.4s"></a></li>
                    </ul>

                    {#                <p class="wow fadeInUp" data-wow-delay="1s">Copyright &copy; 2016 Snapshot Studio |#}
                    {#                    Design: <a href="https://plus.google.com/+templatemo" title="free css templates" target="_blank">Templatemo</a>#}
                    </p>

                </div>

            </div>

        </div>
    </footer>

    <!-- Back top -->
    <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>
    <!-- Javascript  -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vegas.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/toucheffects.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    </body>
    </html>
{% endblock content %}
