{% extends 'home/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

    <body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/peakpx.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/barnowl3__880-e149848454255631bc.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/peakpx.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in vegas-transition-zoomIn-out"
         style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/barnowl3__880-e149848454255631bc.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>
    <div class="vegas-slide vegas-transition-zoomIn vegas-transition-zoomIn-in" style="transition: all 1000ms ease 0s;">
        <div class="vegas-slide-inner vegas-animation-kenburns"
             style="background-image: url('/images/sova-slide1.jpg');
                 background-color: rgb(255, 255, 255);
                 background-position: center center; background-size: cover; animation-duration: 5000ms;">
        </div>
    </div>


    <!-- Preloader section -->

    <div class="preloader">
        <div class="sk-spinner sk-spinner-pulse"></div>
    </div>


    <!-- Home section -->

    <section id="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s"><b>SCHOOL OF PSYCHOLOGY</b></h1>
                    <p class="wow fadeInUp" data-wow-delay="0.9s">The School of Psychology was created by the
                        <a rel="nofollow" href="http://www.sovapsychologist.com"><b>SOVA Psychological Center</b></a>
                        for those, who want to know more about psychology, want to know the human psyche works,
                        what and how if forms our personality, are interested in relationships between between people
                        and different
                        patterns of behavior and its formation. And many, many more interesting and curious facts
                        related to
                        our functioning as people and individuals.
                        Thank you.</p>
                    <a href="{% url 'read_web_content' %}" class="smoothScroll btn btn-success btn-lg wow fadeInUp"
                       data-wow-delay="1.2s"><span>Learn
                        more</span></a>
                </div>

            </div>
        </div>
    </section>


    <!-- About section -->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title text-center">
                        <h9><b>Leaders of "SCHOOL OF PSYCHOLOGY"</b></h9>
                        <p class="description"><b>This is our team that will train you!</b></p>
                    </div>
                </div>

                <!-- team carousel -->
                <div id="team-carousel" class="owl-carousel">

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_s_s' %}">
                                    <img src="{% static 'images/team/svetlana.png' %}" class="img-responsive img-circle"
                                         alt="Svetlana"></a>
                            </div>
                            <h2 class="heading">Sotirova, Svetlana</h2>
                            <p class="description">Therapeutic, family consultant.</p>

                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_e_s' %}">
                                    <img src="{% static 'images/team/emilia.png' %}" class="img-responsive img-circle"
                                         alt="Emilia"></a>
                            </div>
                            <h2 class="heading">Sotirova, Emilia</h2>
                            <p class="description">Psychologist, family therapeutic, psychodrama teacher.</p>
                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_r_s' %}"><img
                                        src="{% static 'images/team/rositza.png' %}" class="img-responsive img-circle"
                                        alt="Rositza"></a>
                            </div>
                            <h2 class="heading">Slavova, Rositza</h2>
                            <p class="description">Therapeutic, family consultant.</p>
                        </div>
                    </div>

                    <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-thumb">
                            <div class="image-holder">
                                <a rel="nofollow" href="{% url 'bio_m_r' %}"><img
                                        src="{% static 'images/team/monika.png' %}" class="img-responsive img-circle"
                                        alt="Monika"></a>
                            </div>
                            <h2 class="heading">Roideva, Monika</h2>
                            <p class="description">Psychologist MSc, Project Manager.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <h9><b>WHO IS "SCHOOL OF PSYCHOLOGY" FOR?</b></h9>
                        <p><b>The course is suitable for amateurs, students or students <a rel="nofollow">(over 18 years
                            old)</a> who want to
                            understand
                            more about psychology AND the fundamental aspects of psychological science and gain
                            knowledge about
                            the most fundamental aspects of psychological science.</b></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
                    <img src="{% static 'images/psydiagaeea.jpg' %}" class="img-responsive img-circle" alt="About">
                </div>

                <div class="clearfix"></div>


            </div>
        </div>
    </section>

    <!-- Gallery section -->

    <section id="gallery">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title">
                        <h9><b>WHAT IS A "SCHOOL OF PSYCHOLOGY"?</b></h9>
                        <p><b>The course includes 12 modules, selected from the various branches of psychology,
                            so that students can get the broadest idea of the influence and application of psychology in
                            our daily lives.</b></p>
                    </div>
                </div>

                <ul class="grid cs-style-4">
                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="{% static 'pictures/prospectus/cr.png' %}" alt="image 1"></div>
                            <figcaption>
                                <h1>LEVEL I</h1>
                                <small>
                                    <p1>PRICE: - BGN 370</p1>
                                </small>
                                <small>WHAT ARE THE MODULES IN THE LEVEL I SCHOOL OF PSYCHOLOGY?</small>
                                <a href="{% url 'school_program_level_1' %}#level_1"
                                   type="button" id="level_1">Read More</a>
                                {#                                <input type="button" id="level_1" value="{{ school_program_level_1 }}">#}
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-md-6 col-sm-6">
                        <figure>
                            <div><img src="{% static 'pictures/prospectus/cr1_cr.png' %}" alt="image 2"></div>
                            <figcaption>
                                <h1>LEVEL II</h1>
                                <small>
                                    <p1>PRICE: - BGN 420</p1>
                                </small>
                                <small>WHAT ARE THE MODULES IN THE LEVEL II SCHOOL OF PSYCHOLOGY?</small>
                                <a href="{% url 'school_program_level_2' %}#level_2"
                                   type="button" id="level_2">Read More</a>
                                {#                                <input type="button" id="level_2" value="{{ school_program_level_2 }}">#}
                            </figcaption>
                        </figure>
                    </li>
                </ul>

            </div>
        </div>
    </section>


    <!-- Contact section -->

    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">

                    <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
                        <h1>Connect with us!</h1>
                        <p>The School of Psychology is located in the center of the city of
                            <a rel="nofollow"
                               href="https://www.google.com/maps/search/%D1%83%D0%BB.+%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%8A%D1%80%20%D0%94%D1%8F%D0%BA%D0%BE%D0%B2%D0%B8%D1%87%2045,+%D0%B3%D1%80.%20%D0%92%D0%B0%D1%80%D0%BD%D0%B0,"
                               \ target="_blank"><b>Varna, 45 Aleksandar Djakovic Str.</b></a></p>
                    </div>
                    <h1><p>Phone: <b>+359895763555</b></p></h1>
                    <h1><p>E-mail: <b>office@sovapsychologist.com</b></p></h1>
                </div>
                </form>

            </div>

        </div>
        </div>
    </section>


    <!-- Footer section -->

    <footer>
        <div class="container">

            <div class="row">

                <div class="col-md-12 col-sm-12">

                    <ul class="social-icon">
                        <li><a href="https://www.facebook.com/S.O.V.A.psychologist" class="fa fa-facebook wow fadeInUp"
                               data-wow-delay="0.2s"></a></li>
                        <li><a href="https://twitter.com/sovapsycenter" class="fa fa-twitter wow fadeInUp"
                               data-wow-delay="0.4s"></a></li>
                        <li><a href="https://www.linkedin.com/company/sova-psychologist"
                               class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                        <li><a href="https://www.instagram.com/sova_psy/" class="fa fa-instagram wow fadeInUp"
                               data-wow-delay="0.8s"></a></li>
                        <li><a href="https://plus.google.com/+SovaPsychologist" class="fa fa-google-plus wow fadeInUp"
                               data-wow-delay="1.0s"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCd2dYVIA_CY_hoAyNkQ2rLg"
                               class="fa fa-youtube wow fadeInUp" data-wow-delay="1.2s"></a></li>
                        <li><a href="https://www.pinterest.com/sovapsy" class="fa fa-pinterest wow fadeInUp"
                               data-wow-delay="1.4s"></a></li>
                    </ul>

                    {#                <p class="wow fadeInUp" data-wow-delay="1s">Copyright &copy; 2016 Snapshot Studio |#}
                    {#                    Design: <a href="https://plus.google.com/+templatemo" title="free css templates" target="_blank">Templatemo</a>#}
                    </p>

                </div>

            </div>

        </div>
    </footer>

    <!-- Back top -->
    <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>
        <!-- Javascript  -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vegas.min.js' %}"></script>
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
        <script src="{% static 'js/toucheffects.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/smoothscroll.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
    </html>
{% endblock content %}
