{% extends 'users/user_navbar.html' %}
{% load custom_filters %}
{% load static %}
{% block user_content %}


    <html>
    <head>
        <title>Slide Navbar</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
    <p>
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </p>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="false">

        <div class="signup">
            <form action="{% url 'register_user' %}" method="post" name="signup">
                <label for="chk">Sign up</label>
                {{ username }}
                {{ email }}
                {{ password1 }}
                {{ password2 }}
                <button type="submit">Sign up</button>
                {% csrf_token %}
            </form>
        </div>

        <div class="login">
            <form action="{% url 'login_user' %}" method="post" name="login">
                <label for="chk">Login</label>
                {{ form.username|placeholder:'Username' }}
                {{ form.password|placeholder:'Password' }}

                <button type="submit">Login</button>
                {% csrf_token %}
            </form>

        </div>
    </div>
    </body>
    </html>
{% endblock %}



