{% extends 'content/content_navbar.html' %}
{% load static %}
{% block navbar_content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
               <div class="text-center" data-wow-delay="0.2s"> {# col-md-9 col-sm-8 wow fadeInUp #}
                    <div class="about-thumb">
                        <form action="{% url 'read_web_content' %} " method="get" id="level_2"></form>

                         <h1>Ниво II е веднъж годишно.</h1><br>
                         <h2><p1> След завършване на ниво I от Училището по психология,
                             всички ученици ще имат възможност да продължат обучението си на ниво II.</p1></h2>
                         <p1>
                             <a rel="nofollow">КАКВИ СА МОДУЛИТЕ В УЧИЛИЩЕТО ПО ПСИХОЛОГИЯ НИВО II ?</a> <br>
                             <a rel="nofollow">МОДУЛ I – Символизира метафори, проекция I</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ II – Символизира метафори, проекция II</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ III – Символизира метафори, проекция III</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ IV – Защитни механизми I</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ V – Защитни механизми II</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ VI – Защитни механизми III</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ VII – Психосоматика I</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ VIII – Психосоматика II</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ XI – Психосоматика III</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ X – Мечти I</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ XI – Сънища II</a><br>
                             <br>
                             <a rel="nofollow">МОДУЛ XII – Сънища III</a><br>
                             <br>
                             <a rel="nofollow">КОЛКО СТРУВА?</a><br>

                             НИВО II – 420 лв. Таксата включва учебните материали за „учениците“.</p1>
                             </p>
                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}