{% extends 'content/content_navbar.html' %}
{% load static %}
{% block navbar_content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
               <div class="text-center" data-wow-delay="0.2s"> {# col-md-9 col-sm-8 wow fadeInUp #}
                    <div class="about-thumb">
                        <form action="{% url 'read_web_content' %} " method="get" id="level_2"></form>

                         <h1>Level II is once a year.</h1><br>
                        <h2><p1> After completing Level I of the School of Psychology,
                            all students will have the opportunity to continue their studies in Level II.</p1></h2>
                        <p1>
                            <a rel="nofollow">WHAT ARE THE MODULES IN THE LEVEL II SCHOOL OF PSYCHOLOGY?</a> <br>
                            <a rel="nofollow">MODULE I – Symbolizes Metaphors, Projection I</a><br>
{#                            - Roots of Psychology <br>#}
                            <br>
                            <a rel="nofollow">MODULE II – Symbolizes Metaphors, Projection II</a><br>
{#                            - What is a personality?<br>#}
                            <br>
                            <a rel="nofollow">MODULE III – Symbolizes Metaphors, Projection III</a><br>
{#                            - Personality: Adler's Theory<br>#}
                            <br>
                            <a rel="nofollow">MODULE IV – Defense mechanisms I</a><br>
{#                            - Developmental Psychology<br>#}
                            <br>
                            <a rel="nofollow">MODULE V – Defense mechanisms II</a><br>
{#                            - The family as a system<br>#}
                            <br>
                            <a rel="nofollow">MODULE VI – Defense mechanisms III</a><br>
{#                            - Why do we communicate?<br>#}
                            <br>
                            <a rel="nofollow">MODULE VII – Psychosomatics I</a><br>
{#                            - Why do we all lie?<br>#}
                            <br>
                            <a rel="nofollow">MODULE VIII – Psychosomatics II</a><br>
{#                            - Psychopathology and psychology<br>#}
                            <br>
                            <a rel="nofollow">MODULE XI – Psychosomatics III</a><br>
{#                            - The nervous system<br>#}
                            <br>
                            <a rel="nofollow">MODULE X – Dreams I</a><br>
{#                            - The cells in the brain<br>#}
                            <br>
                            <a rel="nofollow">MODULE XI – Dreams II</a><br>
{#                            - Emotional brain<br>#}
                            <br>
                            <a rel="nofollow">MODULE XII – Dreams III</a><br>
{#                            - Social Psychology - Zimbardo, Milgram, Dunbar<br>#}
                            <br>
                            <a rel="nofollow">HOW MUCH DOES IT COST?</a><br>

                            Level II – BGN 420. The fee includes the study materials for the "students".</p1>
                            </p>
                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}