{% extends 'content/content_navbar.html' %}
{% load static %}
{% block navbar_content %}

    <div class="container">
        <div class="document">
            <div class="col-12">
                <br><br><br><br>
                <div class="text-center" data-wow-delay="0.2s"> {# col-md-9 col-sm-8 wow fadeInUp #}
                    <div class="about-thumb">
                        <form action="{% url 'read_web_content' %} " method="get" id="level_1"></form>

                        <h1>Присъствен формат</h1><br>
                        <h1> Ниво I</h1>
                        <h2>
                            <p1>Курсът се провежда 2 пъти в годината - пролет и есен.</p1>
                        </h2>
                        <p1>
                            <a rel="nofollow">КАКВИ СА МОДУЛИТЕ В УЧИЛИЩЕТО ПО ПСИХОЛОГИЯ НИВО I ?</a> <br>
                            <a rel="nofollow">МОДУЛ I – Въведение и история на психологията</a><br>
                            - Корените на психологията <br>
                            - Съвременна психология<br>
                            - Обект и предмет на психологията<br>
                            - Подраздели на психологията<br>
                            - Психология с психотерапия<br>
                            - Психология: практика и наука<br>
                            - Видове терапевтични школи<br>
                            <br>
                            <a rel="nofollow">МОДУЛ II – Теории за личността I</a><br>
                            - Какво е личност?<br>
                            - Теорията на Фройд за личността<br>
                            - Теорията на Юнг за личността<br>
                            - Теорията на Скинър за личността<br>
                            <br>
                            <a rel="nofollow">МОДУЛ III – Теории за личността II</a><br>
                            - Личност: теория на Адлер<br>
                            - Диспозиционни теории на личността - Айзенк<br>
                            - Хуманистични теории за личността - Маслоу<br>
                            <br>
                            <a rel="nofollow">МОДУЛ IV – Детска психология и психология на развитието</a><br>
                            - Психология на развитието<br>
                            - Теория на привързаността - Боулби<br>
                            - Психосексуално развитие според Фройд<br>
                            - Ерик Ериксън и Крийзи в развитието на личността<br>
                            - Етапи на когнитивното развитие - Пиаже<br>
                            <br>
                            <a rel="nofollow">МОДУЛ V – Семейни системи</a><br>
                            - Семейството като система<br>
                            - Семейна структура<br>
                            - Жизнен цикъл на семейството<br>
                            - Етапи на развитие и кризи в семейството<br>
                            <br>
                            <a rel="nofollow">МОДУЛ VI – Теория на комуникацията</a><br>
                            - Защо общуваме?<br>
                            - Елементи в общуването<br>
                            - Видове комуникация<br>
                            - Видове слушане <br>
                            <br>
                            <a rel="nofollow">МОДУЛ VII – Психология на лъжата</a><br>
                            - Защо всички лъжем?<br>
                            - Как да разпознаем лъжата?<br>
                            - Има ли индикатори за измамно поведение?<br>
                            - Искаме ли да имаме това умение?<br>
                            - Как да изградим доверие?<br>
                            <br>
                            <a rel="nofollow">МОДУЛ VIII – Психопатология</a><br>
                            - Психопатология и психология<br>
                            - Диагностика<br>
                            - Тревожни разстройства<br>
                            - Афективни разстройства<br>
                            - Психози<br>
                            - Хранителни разстройства<br>
                            <br>
                            <a rel="nofollow">МОДУЛ XI – Невропсихология I</a><br>
                            - Нервната система<br>
                            - Структура и дялове на мозъка<br>
                            - Функции на мозъка<br>
                            - Лимбична система<br>
                            <br>
                            <a rel="nofollow">МОДУЛ X – Невропсихология II</a><br>
                            - Клетките в мозъка<br>
                            - Комуникация в мозъка<br>
                            - Невротрансмитери<br>
                            - Ендокринна система<br>
                            <br>
                            <a rel="nofollow">МОДУЛ XI – Емоционална интелигентност</a><br>
                            - Емоционален мозък<br>
                            - Емоция Vs. Чувство<br>
                            - Основни човешки емоции<br>
                            - Функции на емоциите<br>
                            - Емпатия<br>
                            - Асертивност<br>
                            <br>
                            <a rel="nofollow">МОДУЛ XII – Най-известните теории в психологията</a><br>
                            - Социална психология - Зимбардо, Милграм, Дънбар<br>
                            - Когнитивна психология - избирателно внимание<br>
                            - Психология на рекламата<br>
                            - Плацебо/Ноцебо<br>
                            <br>
                            <a rel="nofollow">КОЛКО СТРУВА?</a><br>

                            НИВО I - 370 лв. Таксата включва учебните материали за "учениците".<br>
                        </p1>
                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}