{% extends 'content/content_navbar.html' %}
{% load static %}
{% block navbar_content %}

    <div class="container">
        <div class="document">
            <div class="col-12">
                <br><br><br><br>
                <div class="text-center" data-wow-delay="0.2s"> {# col-md-9 col-sm-8 wow fadeInUp #}
                    <div class="about-thumb">
                        <form action="{% url 'read_web_content' %} " method="get" id="level_1"></form>

                         <h1>Attendance FORMAT</h1><br>
                        <h1> Level I</h1>
                        <h2><p1>The course is held there are 2 times a year - spring and autumn.</p1></h2>
                        <p1>
                            <a rel="nofollow">WHAT ARE THE MODULES IN THE LEVEL I SCHOOL OF PSYCHOLOGY?</a> <br>
                            <a rel="nofollow">MODULE I – Introduction and History of Psychology</a><br>
                            - Roots of Psychology <br>
                            - Modern psychology<br>
                            - Object and Subject of Psychology<br>
                            - Subdivisions of Psychology<br>
                            - Psychology with psychotherapy<br>
                            - Psychology: Practice and Science<br>
                            - Types of therapeutic schools<br>
                            <br>
                            <a rel="nofollow">MODULE II – Theories of Personality I</a><br>
                            - What is a personality?<br>
                            - Freud's theory of personality<br>
                            - Jung's theory of personality<br>
                            - Skinner's theory of personality <br>
                            <br>
                            <a rel="nofollow">MODULE III – Theories of Personality II</a><br>
                            - Personality: Adler's Theory<br>
                            - Dispositional theories of personality - Eysenck<br>
                            - Humanistic theories of personality - Maslow<br>
                            <br>
                            <a rel="nofollow">MODULE IV – Child psychology and developmental psychology</a><br>
                            - Developmental Psychology<br>
                            - Attachment Theory - Bowlby<br>
                            - Psychosexual development according to Freud<br>
                            - Erik Erikson and Creasy in Personality Development<br>
                            - Stages of cognitive development - Piaget<br>
                            <br>
                            <a rel="nofollow">MODULE V – Family Systems</a><br>
                            - The family as a system<br>
                            - Family structure<br>
                            - Family life cycle<br>
                            - Stages of development and crises in the family<br>
                            <br>
                            <a rel="nofollow">MODULE VI – Theory of Communication</a><br>
                            - Why do we communicate?<br>
                            - Elements in communication<br>
                            - Types of communication<br>
                            - Types of listening <br>
                            <br>
                            <a rel="nofollow">MODULE VII – Psychology of Lying</a><br>
                            - Why do we all lie?<br>
                            - How can we recognize a lie?<br>
                            - Are there indicators of fraudulent behavior?<br>
                            - Would we like to have this skill?<br>
                            - How to build trust?<br>
                            <br>
                            <a rel="nofollow">MODULE VIII – Psychopathology</a><br>
                            - Psychopathology and psychology<br>
                            - Diagnosing<br>
                            - Anxiety disorders<br>
                            - Affective disorders<br>
                            - Psychoses<br>
                            - Eating disorders<br>
                            <br>
                            <a rel="nofollow">MODULE XI – Neuropsychology I</a><br>
                            - The nervous system<br>
                            - Structure and lobes of the brain<br>
                            - Functions of the brain<br>
                            - Limbic system<br>
                            <br>
                            <a rel="nofollow">MODULE X – Neuropsychology II</a><br>
                            - The cells in the brain<br>
                            - Communication in the brain<br>
                            - Neurotransmitters<br>
                            - Endocrine system<br>
                            <br>
                            <a rel="nofollow">MODULE XI – Emotional Intelligence</a><br>
                            - Emotional brain<br>
                            - Emotion Vs. Feeling<br>
                            - Basic human emotions<br>
                            - Functions of emotions<br>
                            - Empathy<br>
                            - Assertiveness<br>
                            <br>
                            <a rel="nofollow">MODULE XII – The most famous theories in Psychology</a><br>
                            - Social Psychology - Zimbardo, Milgram, Dunbar<br>
                            - Cognitive psychology - selective attention<br>
                            - Psychology of advertising<br>
                            - Placebo/Nocebo<br>
                            <br>
                            <a rel="nofollow">HOW MUCH DOES IT COST?</a><br>

                            Level I - BGN 370. The fee includes the study materials for the "students".<br>
                            </p1>
                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}