{% extends 'users/user_navbar.html' %}
{% load custom_filters %}
{% load static %}
{% block user_content %}

    <html>
    <head>
        <title>Slide Navbar</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/signup.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
 <p>{% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}</p>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="false">

        <div class="signup">
            <form action="{% url 'register_user' %}" method="post">
                <label for="chk">Sign up</label>

                {{ form.username|placeholder:'Username' }}
                {{ form.email|placeholder:'Email' }}
                {{ form.password1|placeholder:'Password' }}
                {{ form.password2|placeholder:'Confirm Password' }}
                <button type="submit">Sign up</button>
                {% csrf_token %}
            </form>
        </div>

        <div class="login">
            <form action="{% url 'login_user' %}" method="post">
                <label for="chk">Login</label>
                {{ form.username }}
                {{ form.password }}
                {% csrf_token %}

                <button>Login</button>
            </form>

        </div>
    </div>

    </body>
    </html>
{% endblock %}


