{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
    <div class="row">
        <div class="col-12 row text align-fa-align-center">
            <br><br><br><br>
            <h1>
                <form action="{% url 'edit-content' slug=object.slug %}" method="post"
                      enctype="multipart/form-data">
                    {% if request.user.is_superuser %}
                        {% for field in form %}
                            <h3>{{ field.label_tag }}{{ field }}</h3>

                            {% if field.name != 'video' and field.name != 'file' %}
                                {{ field.help_text }}
                            {% endif %}
                        {% endfor %}
                        {% csrf_token %}
                        <button type="submit">Save</button>
                        <button onclick="history.back()">Go Back</button>
                        </form>
                    {% endif %}
            </h1>
        </div>
    </div>
{% endblock navbar_content %}