
element.style {
    fill: var(--github-bg);
    color: var(--dark-color-d);
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

svg[Attributes] [Style]
{
    width: 80;
    height: 80;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

element.style {
    transform-origin: 130px 106px;
}

path[Attributes] [Style

]
{
    d: path("M 128.3 109 C 113.8 99.7 119 89.6 119 89.6 C 122 82.7 120.5 78.6 120.5 78.6 C 119.2 72 123.4 76.3 123.4 76.3 C 127.3 80.9 125.5 87.3 125.5 87.3 C 122.9 97.6 130.6 101.9 134.4 103.2")
;
    fill: currentcolor
;
}