{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <div class="centered" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <form action="{% url 'bio_s_s' %} " method="get"></form>
                        <img src="{% static 'images/team/DSC00213-autoSvetla.jpg' %}" class="img-responsive img-circle"
                             alt="Svetlana">
                        <h2>
                            <p1>Svetlana Sotirova</p1>
                        </h2>
                        <h2>Psychologist / Psychotherapist</h2>
                        <p>"You will never cross the ocean until you dare to lose sight of the shore." <br>
                        <p>Christopher Columbus</p><br>

                        <p1>
                            <h2>QUALIFICATIONS:</h2>
                            <h2 rel="nofollow">FAMILY COUNSELING </h2>
                            Systemic and structural family therapy at the INSTITUTE OF PSYCHODRAMA, INDIVIDUAL AND
                            GROUP PSYCHOTHERAPY "Bernhard Achterberg", with Georgi Antonov - Founder and co-chairman
                            of the Institute of Psychodrama, Individual and Group Psychotherapy "Bernhard
                            Achterberg", member of the Federation of European Psychodrama Training Organizations.
                            Former President of the Bulgarian Psychotherapy Association.

                            <h2 rel="nofollow">PSYCHODRAMA</h2>
                            Psychodramatist at the "Bernhard Achterberg" INSTITUTE OF PSYCHODRAMA, INDIVIDUAL AND
                            GROUP PSYCHOTHERAPY, with Georgi Antonov - Founder and co-chairman of the "Bernhard
                            Achterberg" Institute of Psychodrama, Individual and Group Psychotherapy, member of the
                            Federation of European Psychodrama Training Organizations. Former President of the
                            Bulgarian Psychotherapy Association.

                            <h2 rel="nofollow">POSITIVE PSYCHOTHERAPY</h2>
                            To the Institute of Positive Psychotherapy, with Dr. Arno Remmers, Member of the Board
                            of Directors of the World Association for Positive Psychotherapy, Former President of
                            the German Organization for Positive Psychotherapy.

                            <h2 rel="nofollow">COGNITIVE-BEHAVIORAL PSYCHOTHERAPY</h2>
                            To the Bulgarian Association for Cognitive-Behavioral Psychotherapy, with Assoc. Pavlina
                            Petkova, MD: Founder and Chairman of the Accreditation Commission of BAKPP.

                        </p1>

                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}