{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <div class="centered" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <form action="{% url 'bio_e_s' %} " method="get"></form>
                        <img src="{% static 'images/team/DSC00264-autoEmi.jpg' %}" class="img-responsive img-circle"
                             alt="Svetlana">

                        <h2>
                            <p1>Емилия Сотирова</p1>
                        </h2>
                        <h2>Психолог, Психотерапевт, Семеен терапевт</h2>
                        <p>"Нищо не се е променило, само аз съм се променил, следователно всичко се е променило."
                            <br>
                        <p>M.Пруст</p><br>

                        <div class="change-list">
                            <h2>КВАЛИФИКАЦИИ:</h2>
                            <h2 rel="nofollow">СЕМЕЙНО КОНСУЛТИРАНЕ:</h2>
                            <p1>Квалификация ниво семеен терапевт – Дипломирана към <a rel="nofollow"
                                                                                       href="https://ift.bg/"
                                                                                       target="_blank"><b>"Институт по
                                фамилна терапия –
                                България (ИФТ-България)"</b></a> – с изпитващ <a rel="nofollow"
                                                                                 href="https://www.linkedin.com/in/sara-barratt-7a593072/?originalSubdomain=uk"
                                                                                 target="_blank"><b>Sara Barratt</b></a>
                                systemic psychotherapist and train
                                on the systemic psychotherapy qualifying and supervision courses at the Tavistock Clinic
                                and am team manager of the fostering, adoption and kinship care team. <br>
                                Обучители и супервизори: <a rel="nofollow" href="https://ift.bg/about-us/"
                                                            target="_blank"><b>Златка Михова</b></a>-Доктор по
                                психология, сертификат за обучение по фамилна
                                терапия от университета в Лунд, Швеция, практикуващ фамилен терапевт, преподавател и
                                супервизор. И <a rel="nofollow" href="https://ift.bg/about-us/" target="_blank"><b>Мария
                                    Арнаудова</b></a> – Магистър по фамилна и брачна терапия, практикуващ
                                фамилен терапевт, сертифициран супервизор.
                            </p1>
                        </div>
                        <div class="change-list">
                            <h2 rel="nofollow">Системна и структурна фамилна терапия:</h2>
                            <p1>Ниво семеен консултант към <a rel="nofollow" href="http://institut-bg.com/"
                                                              target="_blank"><b>ИНСТИТУТ ПО ПСИХОДРАМА ИНДИВИДУАЛНА И
                                ГРУПОВА ПСИХОТЕРАПИЯ
                                „Бернхард Ахтерберг“</b></a>, с обучител и супервизор- <a rel="nofollow"
                                                                                          href="https://institut-bg.com/ekip/"
                                                                                          target="_blank"><b>Георги
                                Антонов</b></a>-Основател и
                                съпредседател на Институт по Психодрама, Индивидуална и Групова Психотерапия „Бернхард
                                Ахтерберг”,
                                член на Федерацията на европейските психодрама тренинг организации. Експредседател на
                                Българска Асоциация по Психотерапия.
                            </p1>
                        </div>

                        <h2 rel="nofollow">ПСИХОДРАМА:</h2>
                        <p1>Квалификация ниво психодрама терапевт - under supervision at the <a rel="nofollow"
                                                                                                href="http://institut-bg.com/"
                                                                                                target="_blank"><b>ИНСТИТУТ
                            ПО ПСИХОДРАМА ИНДИВИДУАЛНА И
                            ГРУПОВА ПСИХОТЕРАПИЯ
                            „Бернхард Ахтерберг“</b></a>, с обучител и супервизор- <a rel="nofollow"
                                                                                      href="https://institut-bg.com/ekip/"
                                                                                      target="_blank"><b>Георги
                            Антонов</b></a>-Основател и
                            съпредседател на Институт по Психодрама, Индивидуална и Групова Психотерапия „Бернхард
                            Ахтерберг”,
                            член на Федерацията на европейските психодрама тренинг организации. Експредседател на
                            Българска Асоциация по Психотерапия.
                        </p1>

                        <h2 rel="nofollow">КОГНИТИВНО-ПОВЕДЕНЧЕСКА ТЕРАПИЯ:</h2>
                        <p1>(2013-2016г.) Ниво когнитивно – поведенченски консултант под супервизия към <a
                                rel="nofollow"
                                href="http://www.bacbp.org/bg/%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D0%B5%D0%BD-%D1%81%D1%8A%D0%B2%D0%B5%D1%82/"
                                target="_blank"><b>
                            Българска
                            Асоциация по Когнитивно-Поведенческата Психотерапия</b></a>, с <a rel="nofollow"
                                                                                              href="http://www.bacbp.org/bg/%D0%94%D0%BE%D1%86-%D0%9F%D0%B0%D0%B2%D0%BB%D0%B8%D0%BD%D0%B0-%D0%9F%D0%B5%D1%82%D0%BA%D0%BE%D0%B2%D0%B0-%D0%B4%D0%BC/"
                                                                                              target="_blank"><b>
                            Доц. Павлина Петкова, дм</b></a>: Учредител и
                            Председател на Акредитационната комисия на БАКПП.
                        </p1>

                        <h2 rel="nofollow">ГЕЩАЛТ ТЕРАПИЯ:</h2>
                        <p1> „Философия и Практика“ , „Гещалт тепария с арт техники и сънища“. Тематични семинари към
                            ИНСТИТУТ ПО ПСИХОДРАМА ИНДИВИДУАЛНА И ГРУПОВА ПСИХОТЕРАПИЯ „Бернхард Ахтерберг“.
                        </p1>
                        <h2>ОБРАЗОВАНИЕ:</h2>
                        <h2 rel="nofollow">Магистратура „Психологично консултиране“</h2>
                        <p1>акредитирана специалност от НАОА. <br>Защитава Дипломна работа на тема: „Превенция на суицидния риск.“</p1>
                        <h2 rel="nofollow">Бакалавър „Психология“</h2>
                        <p1>акредитирана специалност от НАОА при най-високата възможна 10. (* по лична преценка слива
                            двете последни години от образователното си обучение и така успява да завърши година
                            по-рано.)<br>Защитава Дипломна работа на тема „Изследване на когнитивните дефицити при
                            болест на Алцхаймер и тяхното влияние върху общото функциониране на личността.“ Наградена с
                            Грамота за отличен успех. <br>Стаж и клинична подготовка в Първа психиатрична клиника УМБАЛ СВЕТА МАРИНА в Съдебно-психиатрично отделение.</p1>
                    </div>


                    <button onclick="history.back()">Go Back</button>
                </div>
            </div>


        </div>
    </div>
    </div>
{% endblock navbar_content %}