{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <div class="centered" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <form action="{% url 'bio_s_s' %} " method="get"></form>
                        <img src="{% static 'images/team/DSC00213-autoSvetla.jpg' %}" class="img-responsive img-circle"
                             alt="Svetlana">
                        <h2>
                            <p1>Светлана Сотирова</p1>
                        </h2>
                        <h2>Психолог/Психотерапевт</h2>
                        <p>"Никога няма да пресечете океана, докато не се осмелите да изгубите брега от поглед." <br>
                        <p>Христофор Колумб</p><br>

                        <p1>
                            <div class="change-list">
                            <h2>КВАЛИФИКАЦИИ:</h2>
                            <h2 rel="nofollow">ФАМИЛНО КОНСУЛТИРАНЕ:</h2>
                            <p1>Системна и структурна фамилна терапия към <a rel="nofollow"
                                                                             href="http://institut-bg.com/"
                                                                             target="_blank"><b>ИНСТИТУТ ПО ПСИХОДРАМА
                                ИНДИВИДУАЛНА И
                                ГРУПОВА ПСИХОТЕРАПИЯ
                                „Бернхард Ахтерберг“</b></a>, с обучител и супервизор: <a rel="nofollow"
                                                                                          href="https://institut-bg.com/ekip/"
                                                                                          target="_blank"><b>Георги
                                Антонов</b></a> - Основател и
                                съпредседател на Институт по Психодрама, Индивидуална и Групова Психотерапия „Бернхард
                                Ахтерберг”,
                                член на Федерацията на европейските психодрама тренинг организации. Експредседател на
                                Българска Асоциация по Психотерапия.
                            </p1>

                            <h2 rel="nofollow">ПСИХОДРАМА:</h2>
                            <p1>Психодраматист към <a rel="nofollow"
                                                      href="http://institut-bg.com/"
                                                      target="_blank"><b>ИНСТИТУТ
                                ПО ПСИХОДРАМА ИНДИВИДУАЛНА И
                                ГРУПОВА ПСИХОТЕРАПИЯ
                                „Бернхард Ахтерберг“</b></a>, с обучител и супервизор- <a rel="nofollow"
                                                                                          href="https://institut-bg.com/ekip/"
                                                                                          target="_blank"><b>Георги
                                Антонов</b></a> -Основател и
                                съпредседател на Институт по Психодрама, Индивидуална и Групова Психотерапия „Бернхард
                                Ахтерберг”,
                                член на Федерацията на европейските психодрама тренинг организации. Експредседател на
                                Българска Асоциация по Психотерапия.
                            </p1>

                            <h2 rel="nofollow">ПОЗИТИВНА ПСИХОТЕРАПИЯ:</h2>
                            <p1>Към Института по позитивна психотерапия, с д-р Арно Ремерс, член на борда
                                на директорите на Световната асоциация за позитивна психотерапия, бивш президент на
                                Германската организация за позитивна психотерапия.
                            </p1>

                            <h2 rel="nofollow">КОГНИТИВНО-ПОВЕДЕНЧЕСКА ТЕРАПИЯ:</h2>
                            <p1>Към <a
                                    rel="nofollow"
                                    href="http://www.bacbp.org/bg/%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D0%B5%D0%BD-%D1%81%D1%8A%D0%B2%D0%B5%D1%82/"
                                    target="_blank"><b>
                                Българска
                                Асоциация по Когнитивно-Поведенческата Психотерапия</b></a>, с <a rel="nofollow"
                                                                                                  href="http://www.bacbp.org/bg/%D0%94%D0%BE%D1%86-%D0%9F%D0%B0%D0%B2%D0%BB%D0%B8%D0%BD%D0%B0-%D0%9F%D0%B5%D1%82%D0%BA%D0%BE%D0%B2%D0%B0-%D0%B4%D0%BC/"
                                                                                                  target="_blank"><b>
                                Доц. Павлина Петкова, дм</b></a>: Учредител и
                                Председател на Акредитационната комисия на БАКПП.
                            </p1>
                            <h2>ОБРАЗОВАНИЕ:</h2>
                        <h2 rel="nofollow">1986-1991г.- <a
                                    rel="nofollow"
                                    href="https://www.uni-sofia.bg/" target="_blank"><b>Софийски Университет ” Климент Охридски”, </b></a></h2>
                            <p1>специалност: Психология, магистърска степен.</p1>
                            </div></p1>

                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}