{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <div class="centered" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <form action="{% url 'bio_s_s' %} " method="get"></form>
                        <img src="{% static 'images/team/DSC00308-autoMo.jpg' %}" class="img-responsive img-circle"
                             alt="Svetlana">

                        <h2><p1>Monika Roideva</p1></h2>
                        <h2>Psychologist MSc, Project Manager</h2>
                        <p>"You can't teach anyone anything, you can only help them find it in themselves."<br>
                        <p>Galileo Galilei</p><br>

                        <div class="change-list">
                            <h2>QUALIFICATIONS:</h2>
                            <h2 rel="nofollow">MSc (Hons) Mental Health</h2>
                            <p1>2016-2017 (Msc Mental Health Studies), King's College London, Institute of Psychology,
                                Psychiatry and Neuroscience, United Kingdom. Diploma project: Neurological, genetic,
                                psychobiological and physiological biomarkers for pathological dissociation.</p1></div>
                        <div class="change-list">

                            <h2 rel="nofollow">BSc (Hons) Psychology and Law</h2>
                            <p1>2012 - 2016 – Bachelor's degree with certificate of professional experience, Plymouth
                                University, United Kingdom. Diploma project: Empathy in retribution and punishing
                                behaviors.</p1></div>

                    <button onclick="history.back()">Go Back</button>
                </div>
            </div>


        </div>
    </div>
    </div>
{% endblock navbar_content %}