{% extends 'content/content_navbar.html' %}


{% block navbar_content %}
    <div class="container" id="content">
        <div class="row">
            <div class="col-12 row text align-fa-align-center">
                <form action="{% url 'create_web_content'  %}" method="post">
                <br><br>
            <div class="col-12">
{#                {% for text in form %}#}
                    {#                                <tr>#}
                    <h1>{{ form.as_p }}</h1>
                    {#                                </tr>#}
{#                {% endfor %}#}
                {% csrf_token %}
            </div>
                <button type="submit">Save</button>
                <button onclick="history.back()">Go Back</button>
        </form>

            </div>
        </div>
    </div>
{% endblock navbar_content %}