{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <div class="centered" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <form action="{% url 'read_web_content' %} " method="get"></form>

                        <h1 class="text-center">PRESENT FORMAT</h1>
                            <h2 class="text-center">WHAT IS A "SCHOOL OF PSYCHOLOGY"?</h2><br>

                        <p1>
                            <a rel="nofollow"><b>A six-week course,</b></a> the idea of which is to introduce you to the basics of psychology, the
                            most famous theories, discoveries, and directions.
                            The course includes 12 modules, selected from the various branches of psychology, so that
                            students can get the broadest idea of the influence and application of psychology in our
                            daily lives.<br>
                            The course is based on a Textbook created by the <a rel="nofollow" href="{% url 'home_page' %}#about"><b>Sova team</b></a>.
                            The "students" also have a Study Notebook, also created by the
                            <a rel="nofollow" href="{% url 'home_page' %}#about"><b>Sova team</b></a>, which is needed
                            throughout the training and in which tasks are completed and "homework" is written.
                            <br> One module has a duration of 3 study hours (2 extra hours).<br>
                            <a rel="nofollow"><b>The course is held twice a week</b></a>
                            - Tuesday and Thursday at 19:00. - 9:00 p.m.
                            The duration of the course is a total of six weeks (1 month and a half).<br>
                            <a rel="nofollow"><b>Course format:</b></a> face-to-face format in the hall of the
                            <a rel="nofollow" href="http://www.sovapsychologist.com"><b>SOVA Psychological Center</b></a> (Varna).<br>
                            <a rel="nofollow"><b>Completion:</b></a><br> After completing the course, each "student" takes a test and receives a
                            Certificate of participation in the training.<br>
                           <a rel="nofollow"><b>Important!</b></a><br> The course does not teach with the idea of qualifying as psychologists or
                            psychotherapists.
                            Students can use the knowledge from the course for personal development and a better
                            understanding of themselves and others,
                            our functioning as individuals and our behaviours. The course itself does not entitle or
                            qualify people to practice as psychologists.
                            After completing Level 1 of the School of Psychology, all students will have the opportunity
                            to continue their studies in Level 2, which will focus on the topics: Psychosomatics,
                            Dreams, Projective Methods and Defense Mechanisms.<br>
                            <a rel="nofollow"><b>WHAT DOES "SCHOOL OF PSYCHOLOGY" GIVE YOU?</b></a><br>
                            A wide range of knowledge in the psychological field.
                            Knowledge for yourself and your loved ones.
                            Knowledge of child development and normal child functioning.
                            Understanding how our psyche works, our behaviors, our relationships.
                            Understanding how you can improve your communication.
                            Understanding what your loved ones are going through with certain difficulties.
                            A new look at our own behavior and that of others.
                            New topics of conversation and topics of reflection.
                            The opportunity to do something for yourself and for your own development.
                            Meeting other enthusiastic and curious people.
                            Many new and interesting facts.<br>
                            <a rel="nofollow"><b>HOW TO JOIN A PSYCHOLOGY SCHOOL CLASS?</b></a><br>
                            Attendance format of the School of Psychology - Level I, is 2 times a year - spring and
                            fall, Level II (which is only attendance) is once a year. Current dates and open classes can
                            be seen here: classes-present format.

                            Part of signing up for the course involves conducting a short interview to gather and
                            provide more information about and to the 'students'. No prior knowledge of psychology is
                            required. <br>

                            <a rel="nofollow"><b>HOW MUCH DOES IT COST?</b></a><br>

                            Level I - BGN 370. The fee includes the study materials for the "students".<br>
                            Level II – BGN 420. The fee includes the study materials for the "students".
                        </p1>
                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}