{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <div class="centered" data-wow-delay="0.2s">
                    <div class="about-thumb">
                        <form action="{% url 'read_web_content' %} " method="get"></form>

                        <h1 class="text-center">Училище за Психология е във формат на живо!</h1>
                        <h2 class="text-center">КАКВО Е „УЧИЛИЩЕ ЗА ПСИХОЛОГИЯ“ ?</h2><br>

                        <p1>
                            <a rel="nofollow"><b> Шест седмичен курс,</b></a> чиято идея е да ви запознае с основите на
                            психологията, най-известните теории, открития, и направления.
                            Курсът събира в себе си 12 модула, подбрани от различните направления в психологията, за да
                            може обучаващите се да добият най-широка представа за влиянието и приложението на
                            психологията в ежедневието ни.<br>
                            Курсът се води по Учебник създаден от екипа на <a rel="nofollow"
                                                                              href="{% url 'home_page' %}#about"><b>СОВА</b></a>.
                            „Учениците“ имат и Учебна тетрадка, също създадена от екипа на
                            <a rel="nofollow" href="{% url 'home_page' %}#about"><b>СОВА</b></a>, която е нужна през
                            цялото обучение и в която се попълват задачи и се пишат „домашни“.
                            <br> Един модул е с продължителност 3 учебни часа (120 минути).<br>
                            <a rel="nofollow"><b>Курсът се провежда два пъти седмично</b></a>
                            - вторник и четвъртък от 19:00ч. - 21:00 ч.
                            Продължителността на курса е общо шест седмици (1 месец и половина).<br>
                            <a rel="nofollow"><b>Формат на курса:</b></a> присъствена форма в залата на
                            <a rel="nofollow" href="http://www.sovapsychologist.com"><b>Психологичен Център СОВА</b></a>(гр. Варна).<br>
                            <a rel="nofollow"><b>Завършване:</b></a><br> След приключване на курса, всеки „ученик“ прави
                            тест и получава Сертификат за участие в обучението.<br>
                            <a rel="nofollow"><b>ЗА КОГО Е „УЧИЛИЩЕ ЗА ПСИХОЛОГИЯ“?</b></a><br> Курсът е подходящ за
                            любители, студенти или ученици (навършили 18г.), които искат да разберат повече за
                            психологията и да добият знания относно най- фундаменталните аспекти на психологическата
                            наука.
                            Курсът е подходящ за хора от всички професионални сфери, тъй като е структуриран, така че
                            обхваща всички аспекти на общуването и междуличностните отношения.
                            Курсът е подходящ за хора, който имат интерес към психологичните аспекти на нашия живот.<br>
                            <a rel="nofollow"><b>КАКВО ВИ ДАВА „УЧИЛИЩЕ ЗА ПСИХОЛОГИЯ“? :</b></a><br>
                            Широк спектър от знания в психологичната сфера.
                            Знания за самите Вас и близките Ви.
                            Знания за детското развитие и нормалното детско функциониране.
                            Разбиране за функционирането на психиката ни, поведенията ни, взаимоотношенията ни.
                            Разбиране за това как може да подобрите комуникацията си.
                            Разбиране за това, какво преживяват Ваши близки с определени трудности.
                            Един нов поглед над собственото ни поведение и това на другите.
                            Нови теми за разговори и теми за размисъл.
                            Възможността да направите нещо за себе си и за собственото си развитие.
                            Срещи с други ентусиазирани и любопитни хора.
                            Много нови и любопитни факти .<br>
                            <a rel="nofollow"><b>Как да се включа в нов клас?</b></a><br>
                            Част от записването за курса е провеждане на кратко интервю, с цел събиране и предоставяне
                            на повече информация за и на „учениците“. Не е необходимо да имате предишни знания по
                            психология.<br>

                            <a rel="nofollow"><b>Колко струва Училище за Психология?</b></a><br>

                            Ниво I –  370 лв. В таксата са включени и учебните материали за „учениците“.<br>
                            Ниво II – 420лв. В таксата са включени и учебните материали за „учениците“.
                        </p1>
                        <button onclick="history.back()">Go Back</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock navbar_content %}