{% extends 'users/user_navbar.html' %}

{% block user_content %}



{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="my-5">Password Changed successfully</h2>
      <p>
        Your password has been changed successfully. You may now proceed to
        <form action="{% url 'password_change_done' %}" ></form>
        <a href="{% url 'login_user' %}"><input type="submit" class="form-control" value="LOGIN"></a>
        {% csrf_token %}

      </p>
    </div>
  </div>
</div>
{% endblock content %}
{% endblock user_content%}