{% extends 'users/user_navbar.html' %}

{% block user_content %}

    <form action="{% url 'profile-details' request.user.pk %}" method="get" class="wow fadeInUp">


        <h2><p>User Name:</p> {{ request.user.username }}</h2>
        <br>


        <h2><p>E-mail:</p>{{ request.user.email }}</h2>
        <br>


        <h2><p>First name</p>{{ request.user.first_name }}</h2>
        <br>

        <h2><p>Last name</p>{{ request.user.last_name }}</h2>
        <br>
{#        <img src="{{ request.profile.profile_image }}" alt="image_url" class="img-responsive">#}
    {% csrf_token %}
    </form>
    <form action="{% url 'profile-edit' request.user.pk %}" method="get" class="wow fadeInUp">
            <input type="submit" class="form-control" value="Edit Profile">
    {% csrf_token %}
        </form>
{% endblock user_content %}