{% extends 'users/user_navbar.html' %}
{% load custom_filters %}
{% load static %}
{% block user_content %}


<html>
    <head>
        <title>Slide Navbar</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/change_password.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>


<div class="main">
    <div class="signup">
        <form action="{% url 'password_change' request.user.pk %}?next={{ next }}" method="post" class="wow fadeInUp">

{#                <label for="chk" aria-hidden="true">Save</label>#}
                <div class="row-md-6 row-sm-6" display="row"><br>
                        <a>{{ form.old_password.errors }}</a>
                        {{ form.old_password.label_tag }}
                        {{ form.old_password }}
                    </div>
                    <div class="row-md-6 row-sm-6" display="row"><br>
{#                            {{ form.new_password1.errors }}#}
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                        </div>
                        <div class="row-md-6 row-sm-6" display="row"><br>
{#                                {{ form.new_password2.errors }}#}
                                {{ form.new_password2.label_tag }}
                                {{ form.new_password2 }}<br>
                            </div>
            <input type="hidden" value="{{ next }}" name="next"/>
            <button type="submit" class="form-control" value="SAVE">SAVE</button>
                {% csrf_token %}

        </form>
    </div>
</div>
{#<form action="{% url 'users:password_change_done' request.user.pk %}"></form>#}
{#<input type="submit" class="form-control" value="CHANGE PASSWORD">#}

</body>
</html>

{% endblock user_content %}