{% extends 'users/user_navbar.html' %}
{% load custom_filters %}
{% load static %}
{% block user_content %}

<html>
<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/profile_edit.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div class="main">


        <div class="signup">
            <form action="{% url 'profile-edit' request.user.pk %}" method="post" class="wow fadeInUp">
                <div class="col-md-6 col-sm-6" display="row">
                        {{ form.username.errors }}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="col-md-6 col-sm-6" display="row">
                            {{ form.email.errors }}
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="col-md-6 col-sm-6" display="row">
                                {{ form.first_name.errors }}
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 col-sm-6" display="row">
                                    {{ form.last_name.errors }}
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                </div>
                    <form action="{% url 'profile-details' request.user.pk %}" method="get" class="wow fadeInUp">
                    <input type="submit" class="form-control" value="SAVE">
                {% csrf_token %}
                    </form>
                    <form action="{% url 'password_change' request.user.pk %}" method="post" class="wow fadeInUp">
                        <input type="submit" class="form-control" value="CHANGE PASSWORD">
                {% csrf_token %}
                    </form>
            </form>
            </div>
        </div>
        </div>

            </form>
        </div>
 </div>
</body>
</html>

{% endblock %}